body {
    font-family: tahoma;
}

header {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

header div {
    padding: 10px;
}

div a {
    text-decoration: none;
    color: midnightblue;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.drop-link {
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.dropdown-content a {
    display: block;
    color: black;
    padding: 1em;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #fbfaf5;
    border-radius: 5px;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

section {
    padding: 10px;
    max-width: 600px;
    margin: auto;
}
